<fieldset class="hidden md:flex items-center gap-x-2">
  <legend class="text-neutral-400 float-left">{{ label() }}:</legend>

  <div class="flex gap-x-1.5">
    @for(option of options(); track option.id) {
    <div>
      <label data-tstSettingsOption [active]="value() === option.value" [attr.for]="option.id">
        {{ option.label }}
      </label>

      <input
        type="radio"
        class="sr-only"
        tabindex="-1"
        [attr.id]="option.id"
        [attr.name]="name()"
        [value]="option.value"
        (change)="updateValue(option.value)"
      />
    </div>
    }
  </div>
</fieldset>
