:host {
  display: block;
}

.start-button::after {
  content: "";
  position: absolute;
  inset: 0;
}

.wrong-character::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 100%;
  bottom: -0.125rem;
  left: 0;
  background-color: var(--color-red-500);
}
