:host {
  display: block;
}

.start-button::after {
  content: "";
  position: absolute;
  inset: 0;
}

.settings-popover {
  position-area: bottom;
  top: 0.5rem;
}

.wrong-character::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: var(--color-red-500);
}
