:host {
  display: block;
}

.icon-completed::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-green-500);
  border-radius: 50%;
  z-index: -1;
  transform-origin: center;
}

@media (prefers-reduced-motion: no-preference) {
  .icon-completed::before {
    animation: 4s ease-in-out infinite lightpulse;
  }

  .star-1 {
    animation: 15s ease-in infinite star-1-pulse;
  }

  .star-2 {
    animation: 20s ease-in-out infinite star-2-pulse;
  }

  .tada {
    animation: tada 1.2s ease-in-out;
  }
}

@keyframes lightpulse {
  0% {
    filter: drop-shadow(var(--color-green-500) 0px 0px 8px)
      drop-shadow(var(--color-green-300) 0px 0px 12px)
      drop-shadow(var(--color-green-200) 0px 0px 16px);
  }

  70% {
    filter: drop-shadow(var(--color-green-500) 0px 0px 2px)
      drop-shadow(var(--color-green-300) 0px 0px 8px)
      drop-shadow(var(--color-green-200) 0px 0px 2px);
  }

  100% {
    filter: drop-shadow(var(--color-green-500) 0px 0px 8px)
      drop-shadow(var(--color-green-300) 0px 0px 12px)
      drop-shadow(var(--color-green-200) 0px 0px 16px);
  }
}

@keyframes star-1-pulse {
  0% {
    scale: 1;
    filter: drop-shadow(var(--color-yellow-500) 0px 0px 2px)
      drop-shadow(var(--color-yellow-300) 0px 0px 3px)
      drop-shadow(var(--color-yellow-200) 0px 0px 4px);
  }

  60% {
    scale: 0.8;
    filter: drop-shadow(var(--color-yellow-500) 0px 0px 1px)
      drop-shadow(var(--color-yellow-300) 0px 0px 2px)
      drop-shadow(var(--color-yellow-200) 0px 0px 3px);
  }

  100% {
    scale: 1;
    filter: drop-shadow(var(--color-yellow-500) 0px 0px 2px)
      drop-shadow(var(--color-yellow-300) 0px 0px 3px)
      drop-shadow(var(--color-yellow-200) 0px 0px 4px);
  }
}

@keyframes star-2-pulse {
  0% {
    scale: 0.8;
    filter: drop-shadow(var(--color-red-500) 0px 0px 1px);
  }

  60% {
    scale: 1;
    filter: drop-shadow(var(--color-red-500) 0px 0px 2px);
  }

  100% {
    scale: 0.8;
    filter: drop-shadow(var(--color-red-500) 0px 0px 1px);
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
