/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype-variations');
  font-optical-sizing: auto;
  font-weight: 400 700; /* Range of supported weights */
}

@theme {
  /* COLORS */
  /* BLUE */
  --color-blue-400: hsl(210, 100%, 65%);
  --color-blue-600: hsl(214, 100%, 55%);

  /* GREEN */
  --color-green-500: hsl(140, 63%, 57%);

  /* NEUTRAL */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-900: hsl(0, 0%, 7%);

  /* RED */
  --color-red-500: hsl(354, 63%, 57%);

  /* YELLOW */
  --color-yellow-500: hsl(49, 85%, 70%);

  /* BREAKPOINTS */
  --breakpoint-sm: 23.4375rem;
  --breakpoint-lg: 90rem;

  /* FONTS */
  --font-sora: 'Sora', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

body {
  font-family: var(--font-sora);
  background-color: var(--color-neutral-900);
  padding: 1rem;
  color: var(--color-neutral-0);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3rem;

  @media (min-width: 375px) {
    padding: 2rem;
  }
}

@keyframes confetti {
  0% {
    transform: translateY(-20px) translateX(0);
  }
  25% {
    transform: translateY(10vh) translateX(var(--drift));
  }
  50% {
    transform: translateY(20vh) translateX(0);
  }
  75% {
    transform: translateY(30vh) translateX(calc(var(--drift) * -1));
  }
  100% {
    transform: translateY(45vh) translateX(0);
    opacity: 0;
  }
}

.wpm-transition {
  view-transition-name: wpm;
}

.accuracy-transition {
  view-transition-name: accuracy;
}

.characters-transition {
  view-transition-name: characters;
}
